.filter-container {
  margin: 20px 30px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  border: 2px solid var(--background-terciary-color);
  border-radius: 10px;
}

.filter-intro {
    display: flex;
    align-items: center;
}

.filter-intro img {
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.filter-list {
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
}

.filter-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 200px;
  flex-shrink: 1;
  min-width: 0;
}



.filter-field button {
    transform: translateY(100%);
}